body {
  font-family: "Montserrat", sans-serif;
}

#title {
  background-color: #19282f;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}

p {
  width: 70%;
  margin: 0 auto;
  color: #8f8f8f;
}

#title {
  background-image: url(/images/0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center center;
}

/* Headings section */

.main-heading {
  font-family: "DM Serif Display", serif;
  /* font-size: 500px; */
}

.big-heading {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  padding-top: 20px;
  color: #7c99ac;
}

.container {
  padding: 3% 15% 7%;
}

hr {
  border: dotted lightcoral 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;
}

.nav-image {
  height: 100px;
  width: 100px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 50px;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Feature section */

#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.feature-box {
  text-align: center;
  padding: 4.5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
.dw {
  padding: 5rem 0;
}

.feature_image {
  height: 75px;
  width: 75px;
}

.feature_heading {
  padding: 20px;
}

/* Gallery section */

#tattoo-gallery {
  padding: 60px 15px;
  background-color: #1a374d;
}

#cd-gallery {
  padding: 30px 15px;
  background-color: #1a374d;
}

.gallerybutton {
  text-decoration: none;
  color: #fff;
  padding: 0 5px;
}

/* Contact Us section */

#contact {
  padding: 60px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #18d26e;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #18d26e;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}

/* Footer Section */

#footer {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.social-icon {
  padding-left: 20px;
  padding-right: 20px;
}

.copyright {
  padding: 30px 0px;
}

@media (min-width: 768px) {
  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 20px 0;
  }
}

@media (min-width: 768px) {
  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}
